* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body {
    background: #f3f5fb;
    color: #111827;
    padding: 20px;
}

/* ================= NAVBAR ================= */

.navbar {
    background: white;
    border-radius: 24px;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    width: 54px;
    height: 54px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    font-size: 24px;
}

.nav-left h2 {
    color: #2563eb;
}

.nav-left p {
    color: #64748b;
    font-size: 14px;
}

.nav-menu {
    display: flex;
    gap: 12px;
}

.nav-btn {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 16px;
    background: #eef2ff;
    color: #475569;
    font-weight: 600;
    transition: 0.25s;
    border: 2px solid #4f46e5;
}

.nav-btn:hover {
    background: #e9fff7;
    border: 2px solid #10b981;
    color: #000;
}

.active-nav {
    background:#4f46e5;
    color: white;
}

/* ================= LAYOUT ================= */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.page {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 30px;
    padding: 18px 24px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.06);
    height: 800px;
}

/* ================= TITLE ================= */

.title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.icon {
    width: 54px;
    height: 54px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    font-size: 24px;
}

.green {
    background: linear-gradient(135deg, #10b981, #059669);
}

.dark {
    background: linear-gradient(135deg, #111827, #374151);
}

.subtitle {
    color: #64748b;
    font-size: 16px;
}

/* ================= CANVAS ================= */

.canvas-box {
    background: #f8fafc;
    border-radius: 26px;
    padding: 18px;
    border: 2px dashed #cbd5e1;
    margin-bottom: 24px;
}

.canvas-index {
    width: 100%;
    height: 400px;
    background: white;
    border-radius: 22px;
    border: 2px solid #6366f1;
    cursor: crosshair;
}

/* ================= BUTTON ================= */

.btn-group {
    display: flex;
    gap: 16px;
}

.btn-group-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button {
    border: none;
    padding: 14px 24px;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

.predict-btn {
    font-size: 16px;
    flex: 1;
    background: #6366f1;
    color: white;
}

.predict-btn:hover {
    flex: 1;
    background: #ffffff;
    color: #6366f1;
    border: 2px solid #6366f1;
}

.clear-btn {
    font-size: 16px;
    background: #fff;
    color: #6366f1;
    border: 2px solid #6366f1;
}

.clear-btn:hover {
    background: #6366f1;
    color: #ffffff;
    border: 2px solid #6366f1;
}

.save-btn {
    font-size: 16px;
    flex: 1;
    background: #10b981;
    color: white;
}

.save-btn:hover {
    flex: 1;
    background: #ffffff;
    color: #10b981;
    border: 2px solid #10b981;
}

.upload-btn {
    font-size: 16px;
    background: #10b981;
    color: white;
    border: 2px solid #10b981;
}

.upload-btn:hover {
    background: #ffffff;
    color: #10b981;
    border: 2px solid #10b981;
}

.confirm-btn {
    font-size: 16px;
    background: #111827;
    color: white;
    border: 2px solid #111827;
}

.confirm-btn:hover {
    background: #ffffff;
    color: #111827;
    border: 2px solid #111827;
}

/* ================= RESULT ================= */

.result-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 24px;
}

.result-card {
    background: #f8fafc;
    border-radius: 20px;
    padding: 24px;
    height: 135px;
    border: 1px solid #e2e8f0;
}

.label {
    color: #64748b;
    margin-bottom: 10px;
}

.value {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #4f46e5;
}

/* ================= DATASET ================= */

.canvas-box-dataset {
    background: #f8fafc;
    border-radius: 26px;
    padding: 18px;
    border: 2px dashed #cbd5e1;
    margin-bottom: 24px;
    height: 520px;
}

.canvas-dataset {
    width: 100%;
    height: 480px;
    background: white;
    border-radius: 22px;
    border: 2px solid #6366f1;
    cursor: crosshair;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
    margin-bottom: 24px;
}

.number-btn {
    background: #e2e8f0;
    font-size: 26px;
    font-weight: 700;
}

.number-btn:hover {
    background: #6366f1;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}


/* ================= ADMIN ================= */

.model-box {
    background: #f8fafc;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 24px;
    border: 1px solid #e2e8f0;
}

.model-title {
    color: #648b6c;
    margin-bottom: 10px;
}

.model-name {
    font-size: 24px;
    font-weight: 700;
}

.upload-box {
    background: #f0fdf4;
    height: 410px;
    border: 2px dashed #10b981;
    border-radius: 24px;
    padding: 40px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 24px;
}

.upload-model {
    font-size: 16px;
}

.upload-model p {
    font-size: 14px;
    margin: 10px;
}

.upload-icon {
    font-size: 100px;
    margin-bottom: 0px;
}

/* ================= RESPONSIVE ================= */

@media(max-width:900px) {

    body {
        padding: 16px;
    }

    .navbar {
        flex-direction: column;
        gap: 18px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .nav-menu {
        width: 100%;
    }

    .nav-btn {
        flex: 1;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .number-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .result-box {
        grid-template-columns: 1fr;
    }

    .btn-group {
        flex-direction: column;
    }

}